html {
	box-sizing: border-box;
  background-color: #efefef;
  margin: 0;
}

body {
  font-family: 'Bevan', cursive;
}

h1{
  text-align: center;
  color: #fff;
}

ul {
  text-align: center;
  list-style-type: none;
  color: #fff;
}
.info-boxes {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.info-boxes li {
  display: inline-block;
  margin: 1 1 1 1;
  padding: 1em;
  background-color: #000;
  color: #fff;
}
*, *::before, *::after {
	box-sizing: inherit;
}
